---
# Main scss file
---
@charset "utf-8";

@import
  'normalize',
  'solo',
  'syntax';

body {
  transition: background 1s ease-in, color 1s ease-in;
}
.dark {
  color: white;
  background: black;
}